<a href="https://colab.research.google.com/github/tleitch/BDML/blob/main/assignment_1_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Build a model to create a metric for judging team based on team level information ##

In [102]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'
!pip install mip
from mip import Model, xsum, maximize, BINARY

Requirement already satisfied: mip in /usr/local/lib/python3.7/dist-packages (1.13.0)
Requirement already satisfied: cffi in /usr/local/lib/python3.7/dist-packages (from mip) (1.14.5)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi->mip) (2.20)

In [103]:
teams = pd.read_csv("https://raw.githubusercontent.com/tleitch/BDML/main/data/teams.csv")
teams = teams[(teams.yearID >=1961) & (teams.yearID <= 2001)]

## Extracting features for teams ##

In [104]:
teams["BB"] = teams["BB"]/teams["G"]
teams["singles"] = (teams["H"] - teams["X2B"] - teams["X3B"] - teams["HR"])/teams["G"]
teams["doubles"] =  teams["X2B"]/teams["G"]
teams["triples"] = teams["X3B"]/teams["G"]
teams["HR"] = teams["HR"]/teams["G"]
teams["R"] = teams["R"]/teams["G"]

In [105]:
teams.shape

(1026, 52)

## Model building ##

In [106]:
team_features = teams[["BB","singles","doubles","triples","HR"]]
team_runs = teams["R"]

# **## Your code here ##**
Change the LinearRegression() to use a different model from scikit-learn. Remember you need to load the model. Links to other model's documentation is provided below.

In [107]:
# Change code here 
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(team_features, team_runs)
#^^^^^^^^^^^^^^^^^

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

Other possible models which can be built :

randomforest : https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html 

Gradient boosting : https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.GradientBoostingRegressor.html 

support vector machine : https://scikit-learn.org/stable/auto_examples/svm/plot_svm_regression.html 

kNN fit : https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsRegressor.html

Instead of using batting average, or just number of HR,as a measure of picking players, we can use our fitted model to form a metric that relates more directly to run production.

Specifically, to define a metric for player A, we imagine a team made up of players just like player A and use our fitted regression model to predict how many runs this team would produce

To define a player-specific metric, we have a bit more work to do. A challenge here is that we derived the metric for teams, based on team-level summary statistics. 

For example, the HR value that is entered into the equation is HR per game for the entire team

We compute the per-plate-appearance rates for players available in 2002 on data from 1997-2001. 
To avoid small sample artifacts, we filter players with less than 1000 plate appearances per year.


Reference : https://rafalab.github.io/dsbook/linear-models.html#linear-regression-in-the-tidyverse

In [108]:
batting=pd.read_csv("https://raw.githubusercontent.com/tleitch/BDML/main/data/Batting.csv")

In [109]:
def extract_pa_per_game(df):
    
    pa_per_game = (df['AB'].sum() + df["BB"].sum())/df["G"].max()
    
    return pa_per_game

In [110]:
pa_per_game=batting[batting.yearID ==2002].groupby('teamID').apply(extract_pa_per_game)
average_pa_teamwise = pa_per_game.mean()

In [111]:
average_pa_teamwise

38.74656866970645

In [112]:
batting["PA"] = batting["AB"] + batting["BB"]
batting["singles"] = batting["H"] - batting["X2B"] - batting["X3B"] - batting["HR"]

In [113]:
players = batting[(batting.yearID >= 1997) & (batting.yearID <=2001)].groupby('playerID').agg(PA_sum = ("PA",sum),HR_sum=("HR",sum),BB_sum=("BB",sum),singles_sum=("singles",sum),doubles_sum=("X2B",sum),triples_sum=("X3B",sum),AB_sum=("AB",sum),H_sum=("H",sum))
players["Average_PA"] = players["PA_sum"]/average_pa_teamwise
players["HR"] = players["HR_sum"]/players["Average_PA"]
players["BB"] = players["BB_sum"]/players["Average_PA"]
players["singles"] = players["singles_sum"]/players["Average_PA"]
players["doubles"] = players["doubles_sum"]/players['Average_PA']
players["triples"] = players["triples_sum"]/players["Average_PA"]
players["Average"] = players["H_sum"]/players["AB_sum"]
players = players[players.PA_sum >= 1000]

In [114]:
players.head()

           PA_sum  HR_sum  BB_sum  ...   doubles   triples   Average
playerID                           ...
abreubo01    2815      96     420  ...  2.257349  0.454223  0.307724
agbaybe01    1060      35     123  ...  1.864222  0.219320  0.281750
alfoned01    3063      96     359  ...  1.998680  0.088549  0.294379
alicelu01    1954      24     216  ...  1.626007  0.436246  0.268700
alomaro01    3090      91     342  ...  2.169306  0.250787  0.315502

[5 rows x 15 columns]

In [115]:
players_features = players[["HR","BB","singles","doubles","triples"]]
players_features.head()

                 HR        BB   singles   doubles   triples
playerID
abreubo01  1.321375  5.781016  6.111359  2.257349  0.454223
agbaybe01  1.279368  4.496064  6.287179  1.864222  0.219320
alfoned01  1.214388  4.541305  6.767683  1.998680  0.088549
alicelu01  0.475905  4.283142  6.722153  1.626007  0.436246
alomaro01  1.141080  4.288455  7.310437  2.169306  0.250787

In [116]:
players_features["R_hat"]=(model.predict(players_features))
players_features.head()

                 HR        BB   singles   doubles   triples     R_hat
playerID
abreubo01  1.321375  5.781016  6.111359  2.257349  0.454223  8.891339
agbaybe01  1.279368  4.496064  6.287179  1.864222  0.219320  7.517417
alfoned01  1.214388  4.541305  6.767683  1.998680  0.088549  7.865305
alicelu01  0.475905  4.283142  6.722153  1.626007  0.436246  7.461723
alomaro01  1.141080  4.288455  7.310437  2.169306  0.250787  8.571045

In [117]:
master = pd.read_csv("https://raw.githubusercontent.com/tleitch/BDML/main/data/master.csv")
players_features  =  pd.merge(master[["playerID","nameFirst","nameLast"]],players_features,on="playerID")
players_features.head()

    playerID nameFirst  nameLast  ...   doubles   triples     R_hat
0  abreubo01     Bobby     Abreu  ...  2.257349  0.454223  8.891339
1  agbaybe01     Benny  Agbayani  ...  1.864222  0.219320  7.517417
2  alfoned01   Edgardo   Alfonzo  ...  1.998680  0.088549  7.865305
3  alicelu01      Luis    Alicea  ...  1.626007  0.436246  7.461723
4  alomaro01   Roberto    Alomar  ...  2.169306  0.250787  8.571045

[5 rows x 9 columns]

The player-specific predicted runs computed here can be interpreted as the number of runs we predict a team  will score if all batters are exactly like that player

## Adding salary information ##

To actually build the team, we will need to know their salaries as well as their defensive position.

In [118]:
Salaries=pd.read_csv("https://raw.githubusercontent.com/tleitch/BDML/main/data/salaries.csv")

In [119]:
salaries_yr_2002 =Salaries[Salaries.yearID==2002]
salaries_yr_2002= salaries_yr_2002[["playerID","salary"]]

In [120]:
player_insights = pd.merge(salaries_yr_2002, players_features, on='playerID')
player_insights.head()

    playerID   salary nameFirst  ...   doubles   triples     R_hat
0  anderga01  5000000    Garret  ...  2.234707  0.197865  7.211889
1  erstada01  6250000     Darin  ...  2.024164  0.227569  7.645725
2  fabrejo01   500000     Jorge  ...  1.132539  0.171597  5.365805
3  fullmbr01  4000000      Brad  ...  2.676132  0.133807  7.129912
4  glaustr01  4000000      Troy  ...  2.015821  0.053517  6.730333

[5 rows x 10 columns]

## Adding position information ##

Next, we add their defensive position. This is a somewhat complicated task because players play more than one position each year. Appearances data tells how many games each player played in each position, so we can pick the position that was most played for each player. However, because some players are traded, they appear more than once on the table, so we first sum their appearances across teams. We remove pitchers since they don’t bat in the league in which the A’s play.

In [121]:
appearances = pd.read_csv("https://raw.githubusercontent.com/tleitch/BDML/main/data/appearances.csv")

In [122]:
appearances.head()

   Unnamed: 0  yearID teamID lgID   playerID  ...  G_rf  G_of  G_dh  G_ph  G_pr
0           1    1871    TRO  NaN  abercda01  ...     0     0   0.0   0.0   0.0
1           2    1871    RC1  NaN   addybo01  ...     0     0   0.0   0.0   0.0
2           3    1871    CL1  NaN  allisar01  ...     0    29   0.0   0.0   0.0
3           4    1871    WS3  NaN  allisdo01  ...     0     0   0.0   0.0   0.0
4           5    1871    RC1  NaN  ansonca01  ...     0     1   0.0   0.0   0.0

[5 rows x 22 columns]

In [123]:
append_str = 'G_'
position_names = ["p","c","1b","2b","3b","ss","lf","cf","rf", "dh"]
position_names = [append_str + sub for sub in position_names]

In [124]:
operations_dict = {}
for term in position_names:
    operations_dict[term] = "sum"

In [125]:
result = appearances[appearances.yearID == 2002].groupby("playerID").agg(operations_dict)

In [126]:
result.head()

           G_p  G_c  G_1b  G_2b  G_3b  G_ss  G_lf  G_cf  G_rf  G_dh
playerID
abbotpa01    7    0     0     0     0     0     0     0     0   0.0
abernbr01    0    0     0   116     0     0     0     0     0   1.0
abreubo01    0    0     0     0     0     0     0    18   148   0.0
acevejo01    6    0     0     0     0     0     0     0     0   0.0
aceveju01   65    0     0     0     0     0     0     0     0   0.0

In [127]:
def max_position(x):
    
    position_counts = [x[term] for term in position_names]
    return position_counts.index(max(position_counts))

In [128]:
result["most_played_position"] = result.apply(lambda x : position_names[max_position(x)][2:],axis=1)

In [129]:
result.head()

           G_p  G_c  G_1b  G_2b  ...  G_cf  G_rf  G_dh  most_played_position
playerID                         ...
abbotpa01    7    0     0     0  ...     0     0   0.0                     p
abernbr01    0    0     0   116  ...     0     0   1.0                    2b
abreubo01    0    0     0     0  ...    18   148   0.0                    rf
acevejo01    6    0     0     0  ...     0     0   0.0                     p
aceveju01   65    0     0     0  ...     0     0   0.0                     p

[5 rows x 11 columns]

In [130]:
player_salary_position = pd.merge(player_insights, result, on='playerID')
player_salary_position.drop(position_names,axis=1,inplace=True)
player_salary_position = player_salary_position[player_salary_position["most_played_position"]!="p"]

In [131]:
position_names = ["p","c","1b","2b","3b","ss","lf","cf","rf", "dh"]
for position in position_names:
    player_salary_position["chronicle_delta_" + str(position)] = player_salary_position.apply(lambda x : 1 if x.most_played_position == position else 0,axis=1)

## Select the players given the maximum budget as 40 million dollars ##

Please see reference link before proceeding the code : 
https://docs.python-mip.com/en/latest/examples.html

We can search for good deals by looking at players who produce many more runs than others with similar salaries. We can use this table to decide what players to pick and keep our total salary below the 40 million dollars Billy Beane had to work with. Another constraint is to have a player for every position.

In [132]:
from mip import Model, xsum, maximize, BINARY

In [133]:
## Here p denotes predicted runs. p[i] denote the runs for the ith player.
## Here w denotes the salary. w[i] denotes the salary for the ith player.
## chronicle_delta_position column of the dataframe denotes whether the player plays on that corresponding position or not.
p = player_salary_position["R_hat"]
w = player_salary_position["salary"]

c, I = 40000000, range(len(w))

In [134]:
m = Model("knapsack")

x = [m.add_var(var_type=BINARY) for i in I]

m.objective = maximize(xsum(p[i] * x[i] for i in I))

m += xsum(w[i] * x[i] for i in I) <= c


for position in position_names:
    m += xsum(player_salary_position["chronicle_delta_" + str(position)][i]*x[i] for i in I) == 1
    


m.optimize()

selected = [i for i in I if x[i].x >= 0.99]
print("selected items: {}".format(selected))

selected items: [39, 57, 84, 103, 108, 121, 191, 217, 218]

## Selected team ##

In [135]:
player_salary_position.drop(["chronicle_delta_" + str(position) for position in position_names],axis=1,inplace=True)
player_salary_position["most_played_position"] = player_salary_position["most_played_position"].apply(lambda x :x.upper())
selected_team=player_salary_position.iloc[selected]
selected_team

      playerID   salary nameFirst  ...   triples     R_hat  most_played_position
39   garcino01  9000000     Nomar  ...  0.384655  8.759763                    SS
57   deshide01  1250000    Delino  ...  0.524854  7.861707                    2B
84   heltoto01  5000000      Todd  ...  0.157973  8.948503                    1B
103  millake01   900000     Kevin  ...  0.395037  7.838243                    LF
108  berkmla01   500000     Lance  ...  0.196517  8.648912                    CF
121  maynebr01  2500000     Brent  ...  0.022995  7.897188                     C
191  abreubo01  6333333     Bobby  ...  0.454223  8.891339                    RF
217  cirilje01  6375000      Jeff  ...  0.119551  8.545594                    3B
218  martied01  7086668     Edgar  ...  0.049406  9.034159                    DH

[9 rows x 11 columns]